.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color: coral;

}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color:  #181818;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    
}
.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a {
text-decoration: none;
font-size: 20px;
}
.dark-2{
    color:#474747 ;
}
.back-colour{
background-color: #FFF8F3;
}

nav ul  {
    display: flex;
    margin-right: 60 px;
    align-items: center;
}
.butt-1{
background-color: #FD6E0A;
color: white;
padding: 18px 32px ;
border-radius: 5px;
font-size: 20px;
border: none;
margin-right: 30px;

}
.resume-butt{
   margin-top: 50px;
   text-align: center;
}
.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 230px;

}
/* bannar-box-style */
.greetings{
    font-size: 45px;
    font-weight: 600;

}
.bannar-tittle{
font-weight: bold;
font-size: 85px;

}
.bannar-profile-pic{
    width: 580px;

  
}
.bannar-conntent{
    width:580px ;
    gap: 0px;
}
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position:top left,bottom right ;

}
.bannar-description{
    text-size-adjust: 18px;
    color:# 757575;
}
.section-description{
   font-size: 18px; 
  
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
   
}
main section{
    margin-top: 120px;
    margin-bottom:130px ;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 131px 156px ;
    text-align: center;
   
}
.iteam-description{
    font-weight: 600;
   
}
.about-iteams {
    display: flex;
    justify-content: space-around;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px black;
}
/* resume-style */
.resume-container{
    display: flex;
    gap: 25px;
   
    
}
.dark-3{
    color: #757575;

}
.resume-colum-title {
    font-size:30px ;
    margin-bottom: 30px;
    margin-top:120px ;
}
.exprience-title {
   font-size: 25px;
}
.exprience-sub-title{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600px;
    

}
.resume hr{
    margin: 20px;
    
}
.section-title{
    text-align: center;
  margin-top: 150px;
  margin-bottom: 120px;
  font-size: 35px;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;

}
.footer-colum{
    width: 50%;
}
footer input[type="text"],footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: rgb(11, 75, 131);
    display: block;
    width:100%;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

